---
layout: master
title: Home
---
<img class="home" src="http://farm4.static.flickr.com/3314/3273040332_e48044d08a.jpg?v=0" alt="Sneakers" />
<p class="intro">
I live in Northampton, Massachusetts. I'm a developer and operations engineer at <a title="Paperless Post" href="http://www.paperlesspost.com">Paperless Post</a>. <a href="mailto:alexanderkahn@gmail.com" title="Send Alex Kahn an email">Email</a>. <a title="Visit akahn's GitHub account" href="http://github.com/akahn">GitHub</a>.
</p>

<h2>Recent posts:</h2>
<ul>
{% for post in site.posts %}
  {% if post.published != false %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      &mdash;
      {{ post.date | date: "%B %e, %Y" }}
    </li>
  {% endif %}
{% endfor %}
</ul>
