---
layout: master
title: Home
---
<img class="home" src="http://farm4.static.flickr.com/3314/3273040332_e48044d08a.jpg?v=0" alt="Sneakers" />
<p class="intro">
  I make <a href="http://www.drupal.org">Drupal</a> websites. I'm a <a href="http://www.ruby-lang.org">Rubyist</a>. I work for <a href="http://www.freepress.net">Free Press</a>. I live in <a href="http://en.wikipedia.org/wiki/Northampton,_Massachusetts">Northampton, USA</a>. I'm on the <a href="http://twitter.com/alexanderkahn" title="alexanderkahn on Twitter">Twitter</a>. I'm on the <a href="http://www.facebook.com/people/Alexander-Kahn/9103240" title="Alex Kahn on Facebook">Facebook</a>. I'm on the <a href="http://velospace.org/user/15815">Velospace</a>. Send me an <a href="mailto:alexanderkahn@gmail.com" title="Send Alex Kahn an email">email</a>.
</p>

<h2>Recent posts:</h2>
<ul>
{% for post in site.posts %}
  {% if post.published != false %}
    <li>
      <a href="{{ post.url }}">{{ post.title }}</a>
      &mdash;
      {{ post.date | date: "%B %e, %Y" }}
    </li>
  {% endif %}
{% endfor %}
</ul>
