---
layout: master
---
        <div id="content" class="blog">
          <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
          <p class="date">Published {{ page.date | date: "%B %d, %Y" }}</p>
          {{ content }}
          <div id="disqus_thread"></div><script type="text/javascript">var disqus_developer = window.location.host.match(/localhost/) ? 1 : 0;</script><script type="text/javascript" src="http://disqus.com/forums/akahn/embed.js"></script><noscript><a href="http://disqus.com/forums/akahn/?url=ref">View the discussion thread.</a></noscript>
        </div>
