<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <title>Alex Kahn | {{ page.title }}</title>
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Alex Kahn Blog" />
    <link rel="stylesheet" media="screen" href="/styles.css" />
    <link rel="stylesheet" media="screen" href="/syntax.css" />
  </head>

  <body class="{{ page.home }}">
    <div id="content">
      <h1><a href="/">Alex Kahn</a></h1>
      <div id="body">
        {{ content }}

      </div>
      <div id="footer">
      </div>
    </div>


    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-11199683-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>

