<!doctype html>
<html lang="en">
  <head>
    <title>Alex Kahn | {{ page.title }}</title>
    <meta charset="utf-8">
    {% if {{page.description}} != null %}
      <meta name="description" content="{{ page.description }}">
    {% else %}
      <meta name="description" content="Website and blog of Brooklyn-based Ruby developer Alex Kahn.">
    {% endif %}
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Alex Kahn Blog" />
    <link rel="stylesheet" media="screen" href="/css/styles.css" />
    <link rel="stylesheet" media="screen" href="/css/syntax.css" />
    <link rel="icon" href="/images/favicon.png" type="image/png" />
    <link rel="image_src" href="http://farm4.static.flickr.com/3314/3273040332_e48044d08a.jpg" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
  </head>
  <body class="{{ page.home }}">
    <div id="content">
      <h1><a href="/">Alex Kahn</a></h1>
      <div id="body">
        {{ content }}
      </div>
      <div id="footer">
      </div>
    </div>

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-11199683-1");
      pageTracker._trackPageview();
      } catch(err) {}
    </script>
  </body>
</html>

